@charset "UTF-8";

@font-face {
  font-family: $font-family-name;
  src: url($font-woff) format('woff'),
    url($font-truetype) format('truetype');
}

.#{$modal-class}__floating-icon-button {
  .icon-body {
    display: inline-block;
    width: 1em;
    height: 1em;

    &[data-advrm-icon]::before {
      display: inline-block;
      width: 1em;
      font-weight: normal;
      font-style: normal;
      font-variant: normal;
      font-family: $font-family-name;
      line-height: 1em;
      text-align: center;
      text-decoration: inherit;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    &[data-advrm-icon='x']::before {
      content: '\e800';
    }
  
    &[data-advrm-icon='<']::before {
      content: '\fef03';
    }
  
    &[data-advrm-icon='>']::before {
      content: '\fef04';
    }
  }
}
